<div class="featured_lists">
    <button class="btn btn-outline-danger">New this week</button>
    <button class="btn btn-outline-success">Laugh out loud</button>
    <button class="btn btn-outline-danger">Gory films</button>
    <button class="btn btn-outline-warning">Covid-19 specials</button>
    <button class="btn btn-outline-primary">Boobs</button>
    <button class="btn btn-outline-danger">Leaving soon</button>
</div>