

html, body {
    margin: 0;
    padding: 0;
    background-image: url(" \
    https://wallpapertag.com/wallpaper/full/0/2/b/131200-vertical-dark-abstract-backgrounds-2560x1600.jpg\
    ");
    background-size: cover;
    height: 1000px;
    color: white;
    font-family: Helvetica;
}

/* ------------------------------------------------*/
/* ----------------Navbar styles ------------------*/
/* ------------------------------------------------*/


.logo {
    font-size: 4em;
    /* opacity: 1; */
    color: #600000;
    /* font-family: Helvetica; */
    /* top: 0; */
    z-index: 1000;
    padding: 0 0.6em;
}

.navWrapper {
    width: 100%;
    opacity: 0.8;
    Background-color: #050505;
    position: fixed;
    top: 0;
    height: 6em;
    display: flex;
    align-items: flex-end;
    font-family: Helvetica;
}

.nav_left {
    opacity: 0.98;
    Background-color: #050505;
    padding-top: 2em;
    display: flex;
    flex-wrap: wrap;
}

.nav_right {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 2em;
    color: white;
    height: 100%;
}

    .nav_right div:only-child {
        border-left: 1px solid #808080;
        color: #808080;
        height: 100%;
        display: flex;
        padding: 2em;
        font-size: 1.5em;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }


.link {
    color: #ffffe0;
    font-weight: bold;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1em;
    margin: 0 0.1em;
    box-shadow: 1px 0 5px -2px #000000;
    width: 10em;
}

    .link:hover {
        background-image: linear-gradient(#050505, #444444);
        cursor: pointer;
        opacity: 0.8;
        color: #ffffe0;
        text-decoration: none;
    }

.active {
    background-image: linear-gradient(#050505, #444444);
    border-bottom: 4px solid #ffff94;
}

    .active:hover {
        background-image: linear-gradient(#050505, #444444);
        cursor: auto;
        opacity: 1;
    }

.more {
    display: none;
}

@media only screen and (max-width: 1150px) {
    .nav_right {
        display: none;
    }

    .logo {
        display: none;
    }

    .link {
        font-size: 0.7em;
        padding: 0.1em;
        width: auto;
        flex-grow: 1;
    }

    .navWrapper {
        height: 3em;
    }

    .nav_left {
        flex-grow: 1;
    }

    .more {
        display: none;
    }
}

/* ------------------------------------------------*/
/* ----------------------END-----------------------*/
/* ------------------------------------------------*/

/*FROM OLD PROJECT*/
/* ------------------------------------------------------------------------------------------------------------------------*/

.movies_wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.movieDiv {
    margin: 0.4em 0.5em;
    padding: 1%;
    background: #111111;
    box-shadow: #000000 9px 16px 15px 2px;
    width: 13em;
}

    .movieDiv img {
        opacity: 0.8;
        width: 100%
    }

    .movieDiv:hover img {
        opacity: 0.9;
    }

.clicked {
    opacity: 1;
    border: none;
    background-color: #111111;
}

:focus {
    outline-color: none;
    outline: none;
}

.statusBar {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin: 4% 0;
}

    .statusBar div:hover {
        opacity: 1
    }

.text-warning {
    color: lightgoldenrodyellow !important;
}

.text-success {
    color: lightgreen !important;
}

.categoryButton {
    position: relative;
    display: inline-block;
}

/* ---------------------------------------------------- Catagory Dropdown ---------------------------------------------------- */

.categoryDropdown {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 500;
    opacity: 0.9;
    background-color: #141414;
    text-decoration: none;
    width: 15em;
    font-size: 1.2em;
    transition: opacity linear 0.2s;
    padding: 2%;
}

    /* Links inside the categoryButton */
    .categoryDropdown .option {
        display: flex;
        padding: 2%;
        transition: all linear 0.2s;
    }

        /* Change color of categoryButton links on hover */
        .categoryDropdown .option:hover {
            background-color: #aaaaaa;
            color: black;
        }

/* Show the categoryButton menu on hover */
.categoryButton:hover .categoryDropdown {
    display: block;
}

.catDiv {
    width: 100%;
    background-color: #111111;
    margin: 1%;
    padding: 1%;
}

/* ------------------------------------------  Movie details --------------------------------------*/

#movieDetails {
    position: fixed;
    top: 25%;
    left: 25%;
    background-color: #111111;
    width: 60vw;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border-radius: 2%;
    transition: opacity linear 0.2s;
    z-index: 200;
}

.modal-overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #111111;
    opacity: 0.7;
    z-index:100;
}

#movieDetails #movieDetailsWindow {
    flex-basis: 50%;
    flex-grow: 1;
}

    #movieDetails img {
        height: 90%;
        margin: 0 1%;
    }

    #movieDetails h1 {
    }

#movieDetailsSynopsis {
    margin-bottom: 5%;
}

#movieDetails .close {
    color: red;
    text-shadow: none;
    position: absolute;
    top: 2%;
    right: 2%;
}

#movieDetails .movieInfoBar {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

    #movieDetails .movieInfoBar div {
        padding: 2%;
    }

    /*   END    */

/* Filter section */

.search_text_input {
    width: 50%;
    font-size: 2em;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

    .search_text_input + button {
        margin: auto;
        width: 40%;
        margin: 1em 30%;
    }

    .featured_lists {
        width: 100%;
        padding: 1em 0;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .featured_lists button {
        width: 15em;
        margin: 1em 0;
    }

    /* Spinner stye and position */

    .spinner_wrapper {
        width: 100%;
        height: 100%;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spinner {
        width: 20em;
    }


/*TODO movie stop own file*/
/* SPINNER CODE FROM https://icons8.com/cssload/en/spinners*/

#floatingCirclesG {
    position: relative;
    width: 288px;
    height: 288px;
    margin: auto;
    transform: scale(0.6);
    -o-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
}

.f_circleG {
    position: absolute;
    background-color: rgb(255,255,255);
    height: 52px;
    width: 52px;
    border-radius: 27px;
    -o-border-radius: 27px;
    -ms-border-radius: 27px;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    animation-name: f_fadeG;
    -o-animation-name: f_fadeG;
    -ms-animation-name: f_fadeG;
    -webkit-animation-name: f_fadeG;
    -moz-animation-name: f_fadeG;
    animation-duration: 0.672s;
    -o-animation-duration: 0.672s;
    -ms-animation-duration: 0.672s;
    -webkit-animation-duration: 0.672s;
    -moz-animation-duration: 0.672s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
}

#frotateG_01 {
    left: 0;
    top: 117px;
    animation-delay: 0.2495s;
    -o-animation-delay: 0.2495s;
    -ms-animation-delay: 0.2495s;
    -webkit-animation-delay: 0.2495s;
    -moz-animation-delay: 0.2495s;
}

#frotateG_02 {
    left: 34px;
    top: 34px;
    animation-delay: 0.336s;
    -o-animation-delay: 0.336s;
    -ms-animation-delay: 0.336s;
    -webkit-animation-delay: 0.336s;
    -moz-animation-delay: 0.336s;
}

#frotateG_03 {
    left: 117px;
    top: 0;
    animation-delay: 0.4225s;
    -o-animation-delay: 0.4225s;
    -ms-animation-delay: 0.4225s;
    -webkit-animation-delay: 0.4225s;
    -moz-animation-delay: 0.4225s;
}

#frotateG_04 {
    right: 34px;
    top: 34px;
    animation-delay: 0.509s;
    -o-animation-delay: 0.509s;
    -ms-animation-delay: 0.509s;
    -webkit-animation-delay: 0.509s;
    -moz-animation-delay: 0.509s;
}

#frotateG_05 {
    right: 0;
    top: 117px;
    animation-delay: 0.5955s;
    -o-animation-delay: 0.5955s;
    -ms-animation-delay: 0.5955s;
    -webkit-animation-delay: 0.5955s;
    -moz-animation-delay: 0.5955s;
}

#frotateG_06 {
    right: 34px;
    bottom: 34px;
    animation-delay: 0.672s;
    -o-animation-delay: 0.672s;
    -ms-animation-delay: 0.672s;
    -webkit-animation-delay: 0.672s;
    -moz-animation-delay: 0.672s;
}

#frotateG_07 {
    left: 117px;
    bottom: 0;
    animation-delay: 0.7585s;
    -o-animation-delay: 0.7585s;
    -ms-animation-delay: 0.7585s;
    -webkit-animation-delay: 0.7585s;
    -moz-animation-delay: 0.7585s;
}

#frotateG_08 {
    left: 34px;
    bottom: 34px;
    animation-delay: 0.845s;
    -o-animation-delay: 0.845s;
    -ms-animation-delay: 0.845s;
    -webkit-animation-delay: 0.845s;
    -moz-animation-delay: 0.845s;
}



@keyframes f_fadeG {
    0% {
        background-color: rgba(0,0,0,0.68);
    }

    100% {
        background-color: rgb(255,255,255);
    }
}

@-o-keyframes f_fadeG {
    0% {
        background-color: rgba(0,0,0,0.68);
    }

    100% {
        background-color: rgb(255,255,255);
    }
}

@-ms-keyframes f_fadeG {
    0% {
        background-color: rgba(0,0,0,0.68);
    }

    100% {
        background-color: rgb(255,255,255);
    }
}

@-webkit-keyframes f_fadeG {
    0% {
        background-color: rgba(0,0,0,0.68);
    }

    100% {
        background-color: rgb(255,255,255);
    }
}

@-moz-keyframes f_fadeG {
    0% {
        background-color: rgba(0,0,0,0.68);
    }

    100% {
        background-color: rgb(255,255,255);
    }
}
    /* END*/

