@using Nello.Web.Pages

@inherits LayoutComponentBase
<Menu />

<div class="main">
    <div class="top-row px-4">
        <a href="https://www.syncfusion.com/blazor-components/" target="_blank">Blazor Components</a>
    </div>

    <div class="content">
        @Body
    </div>
</div>