
<nav>
    <div class="navWrapper">
        <div class="logo">N</div>
        <div class="nav_left">
            <NavLink href="/Movies" class="link">MOVIES</NavLink>
            <NavLink href="/Catalogs" class="link">CATALOGS</NavLink>
            <NavLink href="/User" class="link">MY MOVIES</NavLink>
            <NavLink href="/About" class="link">ABOUT</NavLink>
        </div>
        <div class="nav_right">
            <div>
                <div>User Bob</div>
                <div>Catagorised: 0/4500</div>
            </div>
        </div>
        <a class="hamburger" onclick="openMenu()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</nav>

@code {

    }
